@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
html,
body {
    position:relative;
    height: 100%;
    /*background-color: aliceblue;*/
}

footer {
    position: absolute;
    bottom: 0;
    height: 70px;
    left: 0;
    right: 0;
}

